---
import Link from '/src/components/Link.astro';
import { img, route } from '/src/config/view';
---

<div class="content-inner">
  <div class="footerArea">
    <p class="copyright" lang="en"><span class="wbr">Copyright 2025</span> <a href={ route('/') }><img src={ img('global/logo.png') } alt="DECSS" width="70" height="40"></a> <span class="wbr">Written by <Link url="https://twitter.com/debiru_R" label="@debiru_R" /></span>, <span class="wbr">Powered by Astro</span>, <span class="wbr">Hosted on <Link url="https://github.com/debiru/decss" label="GitHub Pages" /></span></p>
  </div>
</div>
