---
import { pages, img, route } from '/src/config/view';
---

<div class="content-inner">
  <h1 class="siteName"><a href={ route('/') }><img src={ img('global/logo.png') } alt="DECSS" width="140" height="80"></a></h1>
  <div class="globalNavArea">
    <ul class="globalNav">
      { pages.map((page) => (
        <li><a href={ route(page.route) }>{ page.label }</a></li>
      ))}
    </ul>
  </div>
</div>
